@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-noto-sans-jp, "system-ui, -apple-system, sans-serif");
}

body {
  background-color: #f0fdf4;
  color: #1f2937;
}
